* {
    font-family: "Bahnschrift", Arial, sans-serif;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
}
h1 {
    font-size: 16vh;
}
body,
h1,
h2,
p {
    margin: 0;
}
p {
    font-size: 5.5vh;
}
section {
    height: 100vh;
}
article {
    border: 1vh solid;
    margin: 0px 4vh;
    padding: 1vh;
    height: 77vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.friday {
    color: #fff;
    background-color: #000025;
}
.friday h2 {
    font-size: 13vh;
}
.friday article {
    border-color: #fff;
}
.saturday {
    color: #000;
    background-color: #fff;
}
.saturday h2 {
    font-size: 13vh;
}
.saturday article {
    border-color: #000;
}
