* {
    font-family: "Bahnschrift", Arial, sans-serif;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
}
/* default background color when no day is shown */
body {
    background-color: #000;
}
/* basic styling */
body,
h1,
h2,
h3,
p {
    margin: 0;
}
h1 {
    font-size: 16vh;
}
h2,
h3 {
    line-height: 1;
}
p {
    font-size: 5.5vh;
}
section {
    height: 100vh;
    /* default for most days */
    color: #fff;
}
article {
    border: 1vh solid;
    margin: 0px 4vh;
    padding: 1vh;
    height: 77vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* default for most days */
    border-color: #fff;
}
/* weekday styling */
.tuesday {
    background-color: #000;
}
.tuesday h2 {
    font-size: 26vh;
}
.wednesday {
    background-color: #000025;
}
.wednesday h2 {
    font-size: 15vh;
}
.wednesday h3 {
    font-size: 14vh;
    font-weight: 300;
}
.thursday {
    background-color: #002500;
}
.thursday h2 {
    font-size: 24vh;
}

.friday {
    background-color: #000025;
}
.friday h2 {
    font-size: 18vh;
}
.saturday {
    color: #000;
    background-color: #fff;
}
.saturday h2 {
    font-size: 18vh;
}
.saturday article {
    border-color: #000;
}
