* {
    font-family: "Bahnschrift", Arial, sans-serif;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
}
h1 {
    font-size: 18vh;
    margin: 0;
}
main {
    border: 1vh solid black;
    margin: 0px 4vh;
    padding: 1vh;
    height: 74vh;
}
.saturday {
    color: #000;
    background-color: #fff;
}
