* {
    color: white;
    font-family: "Trebuchet MS", Arial, sans-serif;
    box-sizing: border-box;
}
:root {
    --body-height: 83.3vh;
    --article-spacing: 2.6vw;
}
body {
    background: url("../assets/img/menu_bg.png");
    background-size: cover;
}
header {
    font-weight: bolder;
    text-align: center;
    font-size: 6.4vh;
    margin: 1.8vh;
}
main {
    padding: 0 var(--article-spacing);
    display: flex;
    height: var(--body-height);
    gap: var(--article-spacing);
}
/* dark blue background section */
article,
aside {
    height: var(--body-height);
    display: flex;
    flex-direction: column;
    background: rgb(17, 18, 52);
    border: 0.4vh solid white;
    border-radius: 1.4vh;
    padding: 1.9vh 1.6vw;
    font-size: 2.8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* primary column */
article {
    flex: 3;
}
/* secondary column */
aside {
    flex: 2;
}
/* general stuff */
h2,
h3,
ul,
p {
    margin: 0;
}
h2 {
    font-size: 4.4vh;
}
ul {
    font-size: 3.5vh;
    list-style-type: none;
    padding: 0 0 0 1vw;
}
p {
    padding: 0 0 0 1vw;
}
.price {
    float: right;
}
.price::before {
    content: "$";
}

/* SLIDESHOW */
/* inspired by https://stackoverflow.com/questions/25347946/add-fade-effect-in-slideshow-javascript */
img {
    width: 100%;
}
#slide-container {
    opacity: 1;
    transition: opacity 1s;
}
#slide-container.fadeOut {
    opacity: 0;
}
